.wrapper_sixth {
    position: relative;
    max-width: 350px;
    min-height: 560px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #ffffff;
    background: url('../img/investments_content/background_image.png') center top no-repeat;
    background-attachment:fixed;
}

.phone-investments {
    max-width: 212px;
    width: 100%;
    height: 217px;
    margin-top: 67px;
    margin-left: 80px ;
    text-align: center;
    background: url('../img/investments_content/mobileImage.png') center top no-repeat;
    background-size: 100%;
}

.logo-investments {
    margin-top: 40px;
    width: 80px;
    height: 30px;
}
.wrapper_sixth p {
    margin-top: 0;
}
.wrapper_sixth .line3 {
    font-size: 13px;
    margin-top: 14px;
}

.wrapper_sixth .first-screen .wrapper-button {
    margin-top: -10px;
    font-weight: 600;
    line-height: 52px;
}

.wrapper_sixth .first-screen .heading_image {
    margin-bottom: 10px;
}
.wrapper_sixth .title {
    text-transform:uppercase;
    font-size:26px;
    line-height: 30px;
}
.wrapper_sixth .line1 {
    margin-top: 20px;
}
.wrapper_sixth .line2 {
    font-weight:600;
    letter-spacing: 2px;
}
